<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Projet de session">
    <title>bed bugs 6502</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scripts.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="ml-3 top-margin">
        <h4>Erreur avec la requête à la base de donnée</h4>
    </div>
{% include 'jsinclude.html' %}
</body>
</html>